<h1>Editing postneo staging</h1>

<%= render "form", postneo_staging: @postneo_staging %>

<br>

<div>
  <%= link_to "Show this postneo staging", @postneo_staging %> |
  <%= link_to "Back to postneo stagings", postneo_stagings_path %>
</div>
