<h1>Editing type stage</h1>

<%= render "form", type_stage: @type_stage %>

<br>

<div>
  <%= link_to "Show this type stage", @type_stage %> |
  <%= link_to "Back to type stages", type_stages_path %>
</div>
